# 일변량질적자료

> 1. 일변량 - 변수 하나

> 2. 질적자료 - 명목형(카테고리) / 이산형
        (ex. 남자/여자, 고급/중급/초급 )


    * 질적자료 = 명목형 = 이산형
    * 양적자료 = 수치형 = 연속형

### 빈도와 그래프

- 빈도 : 자료가 가지는 각각의 값이 몇 개 있는지를 구한 수치

- 백분율 : 자료가 가지는 각각의 값이 전체를 100으로 보았을 때의 차지하고 얼마나 차지하고 있는지를 알려주는 수치

### 질적자료 시각화 

1. 막대그래프
 -  
 -
2. 원그래프
 -
 -

In [2]:
# 데이타 읽어오기

import pandas as pd

diamonds = pd.read_csv('data/diamonds.csv',index_col='Unnamed: 0')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
# 데이타프레임 구조 살피기
# [*] 질적자료와 양적자료 확인 
diamonds.shape
diamonds.info() 
diamonds.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [9]:
""" 1. 빈도구하기 : value_counts() """
color_count = diamonds['color'].value_counts()
cut_count = diamonds['cut'].value_counts()
clarity_count = diamonds['clarity'].value_counts()

In [12]:
""" 2. 백분율  = 빈도수/전체수 * 100 """
color_rate = color_count/len(diamonds) * 100

100.0

In [ ]:
""" 3. 시각화 
    (1) 막대그래프
    (2) 원그래프
"""
import seaborn as sns                  # 데이타
import matplotlib.pyplot as plt  # 그래프 라이브러리